# =========================
# Java / Maven
# =========================
**/target/

#
!/mvnw
!/mvnw.cmd
!/.mvn/wrapper/**

# =========================
# Allure
# =========================
.allure/
allure-results/
allure-report/

# =========================
# IDE / Editors
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS / Misc
# =========================
.DS_Store
Thumbs.db
*.log